
:root {
  --timerHeight: 50px;
  --timerWidth: 65px;
}

.timePicker.timePicker {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: calc(3 * var(--timerHeight));
}

.timePicker .scrollSection {
  height: calc(3 * var(--timerHeight));
  width: var(--timerWidth);
  position: relative;
  transition: width 0.2s;
}

.timePicker .container {
  height: calc(3 * var(--timerHeight));
  position: relative;
  overflow-y: scroll;
  width: 100%;
}

.timePicker .container::-webkit-scrollbar {
  display: none;
}

.timePicker .timerWrapper {
  position: absolute;
  width: calc(var(--timerWidth) - 2px);
  height: var(--timerHeight);
  top: var(--timerHeight);
  left: 0;
  z-index: 0;
  pointer-events: none;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  transition: width 0.2s;
}

.timePicker .wrapper {
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 0;
  transition: top 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.timePicker .time {
  opacity: 0.3;
  cursor: pointer;
  font-size: 16px;
  height: var(--timerHeight);
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  color: #495057;
  transition: transform 0.2s, opacity 0.2s, color 0.2s;
}

.timePicker .timePlaceholder {
  cursor: default;
}

.timePicker .timeHidden {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}

.timePicker .time:hover {
  opacity: 1;
}

.timePicker .timeActived {
  opacity: 1;
  font-size: 16px;
  font-weight: bolder;
  transform: scale(1.5);
  color: #212529;
}

.timePicker .timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.timePicker .timer:not(:first-child) {
  margin-left: 30px;
}

.timePicker .subText {
  color: #495057;
}

.timePicker .prefix {
  margin-right: 10px;
}

.timePicker .suffix {
  margin-left: 10px;
}

/* ======================== handle color ======================== */
.timePicker.dark .time {
  color: #495057;
}

.timePicker.red .time {
  color: #f03e3e;
}

.timePicker.blue .time {
  color: #1c7ed6;
}

.timePicker.cyan .time {
  color: #1098ad;
}

.timePicker.teal .time {
  color: #0ca678;
}

.timePicker.yellow .time {
  color: #f59f00;
}

.timePicker.green .time {
  color: #37b24d;
}

.timePicker.dark .timeActived {
  color: #212529;
}

.timePicker.red .timeActived {
  color: #c92a2a;
}

.timePicker.blue .timeActived {
  color: #1864ab;
}

.timePicker.cyan .timeActived {
  color: #0b7285;
}

.timePicker.teal .timeActived {
  color: #087f5b;
}

.timePicker.yellow .timeActived {
  color: #e67700;
}

.timePicker.green .timeActived {
  color: #2b8a3e;
}